.buggy{
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 550px;
}
@media only screen and (max-width: 449px) {
  .buggy {
  height: auto;
}
.about_paragraph {
  grid-row: 39/ span 30;
}
}
.grid-container img {
  grid-column: 2/12;
  grid-row: 10/span 40;
}
/*About Page*/
.about_us {
  padding-top: 20px;
  grid-row: 1/span 10;
  grid-column: 2/12;
}
.about_us h1{
  font-size: 4vmax;
  letter-spacing: 2px;
}
@media only screen and (min-width: 450px) {
.about_paragraph {
  grid-row: 55/ span 30;
}
}
.about_paragraph {
  padding: 60px 20px 20px 20px;
  opacity: 0.8;
  background-color: white;
  grid-column: 2/12;
  margin-bottom: 30px;
}
