input[type=text] {
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
}
input[type=email] {
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
}
textarea[name=message] {
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
}
input[type=submit] {
  width: 100%;
  padding: 5px 5px;
  cursor: pointer;
}
.contact_us{
  grid-column: 2/12;
  grid-row: 2 / span 10;
}
.label {
  grid-column: 2/3;
  grid-row: 12 / span 30;
}
.input {
  grid-column: 3/12;
  grid-row: 12 / span 30;
}
.submit {
  grid-column: 6/8;
  grid-row: 43 / span 5;
  margin-bottom: 100px;
}
.faqs {
  grid-column: 2/12;
  grid-row: 45 / span 5;
}
.questions {
  padding: 20px 0;
  grid-column: 2/12;
  grid-row: 49/ span 30;
  margin-bottom: 50px;
}
h1 {
  font-size: 4vmax;
  text-align: center;
  padding-top: 20px;
}
h2 {
  font-size: 4vmax;
  text-align: center;
  padding-top: 20px
}
label {
  padding: 5px 10px;
  margin: 10px;
}
#frequently  td{
  padding: 15px 10px;
  font-size: 1.5vmax;
  float: left;
}
#frequently  tr{
border-top: 1px solid grey;;
}
.ask_question {
  color: #671E75;
  font-weight: bold;
}
