/*CSS Grid Layout Container*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 10px;
  }
.grid-container > div {
      color:black;
      text-align: center;
}
body {
  background-color: #F2F2F2;
}
/*Golf Buggy Schedule*/
.title h1
{
  /*vw makes the text responsive to the view of the page*/
  font-size: 4vmax;
  text-align: left;
}
.title
{
  grid-column: 2/ 12;
  grid-row: 1/2;
}
/* Edge & Scarth Hill Buttons*/
.button {
  grid-column: 2/12;
  grid-row: 3/5;
}
button {
  background-color: purple;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  width: 20px;
}
/*Access the second button*/
button:nth-child(2) {
  background-color: green;
  margin-left: 20px;
}
/*Tables*/
.main {
grid-column: 2/ 12;
grid-row: 6/ 50;
}
table {
/*Makes the table responsive*/
  width: 100%;
  font-size: 3vmax;
}
.table {
  overflow: auto;
  height: 430px;
  border: 3px solid black;
}
#table1 tr td:nth-child(2) {
  color: purple;
}
#table2 tr td:nth-child(2){
  color: green;
}
#table2 {
  display: none;
}
/*No Ticket Required*/
.phrase {
  grid-column: 2/12;
  grid-row: 49/ span 5;
}
.phrase h1 {
  /*Makes the underline move futher down*/
  text-underline-position: under;
  text-decoration: underline;
  font-size: 4vmax;
}
/*Map*/
.map {
  grid-column: 2/12;
  grid-row: 54/ span 20;
  margin-bottom: 10px;
}
.footer a, .footer  p{
  padding-top: 10px;
  color: white;
}
/* Desktop Device */
@media only screen and (min-width: 601px) {
/* Home grid layout */
.title
{
  grid-column: 2/ 7;
  grid-row: 2/5;
}
/* Edge & Scarth Hill Buttons*/
.button {
  grid-column: 8/13;
  grid-row: 2/5;
}
button {
  width: 150px;
}
iframe {
  width: 100%;
  height: 600px;
}
/* About Page Grid */
.banner
{
  grid-column: 2/12;
  grid-row: 1 / span 25;
}
.link {
  grid-column: 2/5;
}
.email {
  grid-column: 9/12;
  text-align: right;
}
}
@media only screen and (max-width: 890px) {
  .title
  {
    text-align: center;
    grid-column: 2/ 12;
    grid-row: 2/3;
  }
  .title h1 {
    text-align: center;
  }
  /* Edge & Scarth Hill Buttons*/
  .button {
    grid-column: 2/12;
    grid-row: 3/5;
  }
}
/* Mobile Device */
@media only screen and (max-width: 600px) {
/******Home Page Button******/
button:nth-child(2) {
  background-color: green;
  margin-left: 0;
}
button {
  height: 50px;
  width: 150px;
  padding: 0px;
}
.button:nth-child(1) {
  grid-column: 2/12;
  grid-row: 10/5;
  }
/*Map*/
iframe {
  width: 100%;
  height: 200px;
}
/*Footer*/
.link, .email {
  grid-column: 2/12;
  text-align: center;
}
}
