.nav {
  background-color: white;
}
.nest  {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #671E75;
}
.nest > div > a {
  color: white;
  font-size: 20px;
}
.logo {
  padding-top: 5px;
  grid-column: 2/3;
}
.home {
  grid-column: 4/6;
}
.about {
  grid-column: 7/9;
}
.contact {
  grid-column: 10/12;
}
.home, .about, .contact {
  padding-top: 15px;
}
.footer {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #671E75;
}
